.header {
    background-color: var(--bg);
    padding: 1em;
    font-size: 2em;
}

.header ul {
    padding: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    gap: 1em;
}

.link {
    text-decoration: none;
    color: var(--text-muted);
    padding: 1em;
}

.link:hover {
    color: var(--gold);
}

@media (max-width: 728px) {
    .header {
        font-size: 1.5em;
    }

    .header ul {
        gap: .5em;
    }
}